.container {
  width: 70%;
  background: rgba(255, 255, 255, 0.3);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.1);
}

.heading--main {
  margin: 2rem auto;
}

.buttons-container {
  width: 30%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
}

.circles-container {
  width: 50%;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.score-container {
}
