*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

#root {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
