.counter__container {
  flex: 1;
  .counter {
    margin: 2rem auto;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: #333;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .counter.even {
    background-color: green;
  }

  .counter.odd {
    background-color: yellow;
    color: #333;
  }

  .button:nth-child(3) {
    margin: 0 2rem;
  }
}
